.letter {
    position:relative;
    width: 50vw;
    height:250px;
    background-color:rgb(157, 176, 182);
    color:white;
    font-size: 20px;    
    user-select: none;
    cursor: pointer;
}

.text-wrap {
    cursor: pointer;
    backdrop-filter: blur(3px);
    display: flex;
    height:250px;
    text-align: center;
    box-sizing: border-box;
}

.content {
    line-height:250px;
}
.author {
    position:absolute;
    bottom:5px;
    right:5px;
    color:rgba(255, 255, 255, 0.45);
    font-size:15px;
}

