@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nanum+Myeongjo&display=swap');

.newPost {
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-45vh;
    margin-left:-500px;
    width: 1000px;
    height: 90vh;
    background-color:rgb(44, 44, 44);
    z-index:1;
    color:white;
    border-radius:20px;
    user-select:text;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 30px;
}

input[type="text"] {
    font-family: 'Cormorant Garamond', 'Nanum Myeongjo';

}

.title_section {
    display:flex;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 300px;
}

input[type="file"] {
    display: none;
}

.select_title_img {
    height: 100%;
    width: 100%;
}

.select_title {
    color:white;
    line-height:250px;
    width:100%;
    height: 100%;
    text-align: center;
    user-select: none;
    cursor:pointer;
    transition:0.4s background-color;
}

.select_title:hover {
    transition:0.4s background-color;
    background-color:rgba(206, 153, 153, 0.438);
}

.select_title_name {
    position: absolute;
    top:50%;
    width: 60%;
    height: 50px;
    border:none;
    background-color: rgba(27, 27, 27, 0.459);
    outline:none;
    color:white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align:center;
}

.select_author {
    position: absolute;
    bottom: 20px;
    width: 30%;
    height: 30px;
    border:none;
    background-color: rgba(27, 27, 27, 0.459);
    outline:none;
    color:white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align:center;
}

.tools {
    display: flex;
    justify-content: center;
}

.tool {
    width: 50px;
    height: 50px;
    background-color:rgb(206, 153, 153);

    /* text */
    text-align: center;
    line-height: 50px;
    user-select: none;
    font-size: 20px;
    cursor:pointer;
}

.tool_hover {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 101, 101);


    text-align: center;
    line-height: 50px;
    user-select: none;
    font-size: 20px;
    cursor:pointer;
}




.content_write {
    position: relative;
    height: 500px;
}


.textboxPlaceholder {
    display:flex;
    position: absolute;
    height: 40px;
    font-size: 30px;

}
.textboxPlaceholder input {
    
    font-size: 30px;
    width: 200px;
}

.submitText {
    border:none;
    background-color:rgb(27, 27, 27);
    color:white;
    padding: 10px;
    
}


.textbox {
    position: absolute;
    height: 30px;
    font-size: 30px;
}

.imagebox {
    position: absolute;
}

.postSubmit {
    position: absolute;
    font-size: 20px;
    right: 40px;
    bottom: 20px;
    user-select:none;
    background-color: #141414;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
}